/* Body element */

.light-mode .layout1 {
  background: linear-gradient(to right top, #ffa1de, #cfcfff, #af7eff);
}

.light-mode .layout2 {
  background: linear-gradient(to right top, #ffa1de, #cfcfff, #af7eff);
}
.el-drawer {
  background-color: rgba(255, 255, 255, 0.99);
  color: #ebebeb;
}
.light-mode .contenthead {
  color: #924699;
}
.light-mode .contentrender {
  color: #6c3c6b;
}
/* */
.dark-mode body {
  background-color: #ffffff;
  color: #ffffff;
}
.dark-mode .backcolor {
  background-color: #ffffff;
}

.dark-mode .contenthead {
  color: #ffffff;
}
.dark-mode .contentrender {
  color: #979797;
}

.dark-mode .backcolor {
  background-color: #a79d52;
}
.dark-mode .el-drawer {
  background-color: rgba(30, 30, 30, 0.98);
}
/* */
.gray-mode body {
  color: #ffffffef;
}
.gray-mode .backcolor {
  background-color: rgba(50, 64, 63, 0.98);
  color: #ffffff;
}
.gray-mode .contenthead {
  color: #cfcfcf;
}
.gray-mode .contentrender {
  color: #8a8a8a;
}
/*
    .gray-mode .el-drawer {
        background-color: #183ea5fa;
        color: #FFFFFF;
    }
    */
.gray-mode .el-drawer {
  background-color: rgba(91, 115, 101, 0.95);
  color: #ebebeb;
}

/* Active link */
.router-link-active {
  border-bottom: 1px solid rgba(50, 64, 63, 0.2);
}
.dark-mode .router-link-active {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.gray-mode .router-link-active {
  border-bottom: 1px solid rgba(207, 207, 207, 0.5);
}
/* input */
textarea,
input,
select {
  padding: 0.5em;
  display: block;
  max-width: auto;
  margin-top: 0.2em;
  padding: 0.5em;
  border: 1px solid rgba(111, 109, 109, 0.2);
  border-radius: 4px;
  background: none;
}
.dark-mode textarea,
.dark-mode input,
.gray-mode select {
  border: 1px solid rgba(199, 197, 197, 0.8);
}
.gray-mode textarea,
.gray-mode input,
.gray-mode select {
  border: 1px solid rgba(0, 0, 111, 0.8);
}

.layout1 {
  background-image: linear-gradient(to right top, #162e50, #0f4323, #008793);
}

.el-drawer {
  background-image: linear-gradient(to right top, #162e50, #0f4323, #210055);
}

/*light-mode */
.light-mode .layout1 .layout2 .layout3 {
  background-image: linear-gradient(to right top, #fbff29, #208347, #41710d);
}

.light-mode .pagetitle {
  color: rgb(0, 0, 0);
  font-family: "Epilogue", sans-serif;
}

.light-dark .pagetitle .layout2 {
  color: rgb(0, 0, 0);
  font-family: "Epilogue", sans-serif;
}

.gray-mode .layout1 {
  background-image: linear-gradient(to right top, #150071, #991f1f, #3b0046);
}

.gray-mode .layout2 {
  background-image: linear-gradient(to right top, #150071, #991f1f, #3b0046);
}
